    <script src="https://kit.fontawesome.com/48347c67d7.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>