body {
    user-select: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-thumb {
    background: rgba(154, 154, 154, 0.34);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(154, 154, 154, 0.47);
}

#form {
    /*right: -120%;*/
    position: relative;
}

.myCard {
    opacity: 0.5;
    left: -120%;
    position: relative;
    width: 15rem;
    height: 16rem;
    padding: 3rem 3rem 2rem 3rem;
    box-shadow: 0 0 .8rem 0 #929292;
    border-radius: 0.3rem;
    background: rgb(255, 255, 255);
    transition: transform .3s ease-out;
    margin: 1.5rem;
}
.myCard:hover {
    transform: translateY(-0.5rem);
}

.green {
    color: #32db32;
}

.red {
    color: red;
}

.invalid {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
    border: solid 1px #dc3545 !important;
}

.invalid:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5) !important;
}

.false {
    display: none !important;
}

.media {
    font-size: 1.7rem;
    font-weight: 600;
}

.my-btn:hover {color: rgb(0, 0, 0)}
.my-btn {
    letter-spacing: 0.04rem;
    position: relative;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.68);
    padding: 0.7rem 1.4rem;
    border-radius: 0.3rem;

    z-index: 1;
    overflow: hidden;
    transition: color ease-in-out .2s;
}
.my-btn::before {
    content: "";
    position: absolute;
    background: #ffffff;
    border-radius: 0.3rem;
    border: solid 3px rgba(66, 70, 73, 0.5);
    transition: ease-in-out .3s;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;

    z-index: -1;
}
.my-btn::after {
    content: "";
    position: absolute;
    background-color: rgba(66, 70, 73, 0.5);
    /*background-color: #0d6efd;*/
    transition: ease-in-out .3s;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -2;
    transform: translateY(3rem);
    /*transform: translate(-105%, -60%);*/
}
.my-btn:hover::after {
    transform: translate(0, 0);
}

.add-btn {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}